<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part</title>
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Main -->
    <div id="app">

        <h1 class="part__name">Part {{ part.name }}</h1>

        <div class="container">

            <!-- Component (loop) -->
            <div class="feature" v-for="feature in part.features" :class="gridSpan(feature)">
                <!-- Name -->
                <feature-name :name="feature.name" :quality-label="getQualityLabel(feature)"></feature-name>
                <!-- Campos -->
                <div class="feature__header-wrapper">
                    <control-header></control-header>
                    <control-header v-if="hasTwoColumns(feature)"></control-header>
                </div>
                <!-- Controls -->
                <div class="feature__controls-container">
                    <div v-for="group in feature.controlGroups">
                        <control v-for="control in group" :name="control.name" :dev="control.dev"
                            :dev-out="control.devOut" :quality-label="getQualityLabel(control)"></control>
                    </div>
                </div>
                <!-- Menu -->
                <div class="feature__menu"><img src="icons/more.svg" width="15" height="15" /></div>
            </div>

        </div>

    </div>

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: #fff2e8;
        }

        #app {
            max-width: 1024px;
            margin: auto;
            font-family: 'Roboto', sans-serif;
        }

        .part__name {
            font-size: 20px;
        }

        .container {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-auto-flow: dense;
        }

        .feature {
            background-color: #d2c7bf;
            display: flex;
            flex-direction: column;
        }

        .feature * {
            flex: 1;
        }

        .feature__menu {
            background-color: #e4d8d0;
            min-height: 30px;
            max-height: 30px;
            display: flex;
            align-items: center;
        }

        .feature__name {
            margin: 0;
            padding: 10px 0 10px 50px;
            color: white;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: normal;
            max-height: 35px;
            margin-bottom: 5px;
            position: relative;
        }

        .feature__name img {
            position: absolute;
        }

        .feature__name img:first-child {
            left: 10px;
        }

        .feature__name img:last-child {
            right: 10px;
        }

        .feature__name--quality-good {
            background-color: #349255;
        }

        .feature__name--quality-average {
            background-color: #e8bd02;
        }

        .feature__name--quality-bad {
            background-color: #ea2c3a;
        }

        .feature__header-wrapper {
            display: flex;
            max-height: 25px;
        }

        .feature__control {
            max-height: 30px;
        }

        .feature__header {
            flex: 1;
            display: flex;
            font-weight: bold;
        }

        .feature__header * {
            flex: 1
        }

        .feature__header-value {
            white-space: nowrap;
        }

        .feature--wide {
            grid-column: span 2;
        }

        .feature--tall {
            grid-row: span 2;
        }

        .feature__controls-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 8px;

        }

        .feature__controls-container>* {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
        }

        .feature--wide .feature__controls-container>* {
            flex-basis: 50%;
        }

        .feature__control {
            display: flex;
        }

        .feature__control-value,
        .feature__header-value {
            flex: 1;
            font-size: 11px;
            padding: 6px 8px;
            min-width: 1px;
            text-transform: capitalize;
        }

        .feature__control-quality,
        .feature__header *:last-child {
            max-width: 30px;
            padding: 5px 0 3px;
        }

        .text-center {
            text-align: center;
        }
    </style>

    <script>

        // -----------------------
        // Componentes
        // -----------------------

        // CONTROL HEADER
        Vue.component('control-header', {
            template: '<div class="feature__header"><span class="feature__header-value">Control</span><span class="feature__header-value text-center">Dev</span><span class="feature__header-value text-center">Dev Out Tol</span><span></span></div>'
        });

        // FEATURE NAME
        Vue.component('feature-name', {
            props: {
                name: String,
                qualityLabel: String
            },
            template: '<h2 :class="\'feature__name feature__name--quality-\' + qualityLabel"><img src="icons/circle.svg" width="15" height="15" />{{ name }}<img :src="\'icons/\' + qualityLabel + \'.svg\'" width="15" height="15" /></h2>',
        });

        // CONTROL
        Vue.component('control', {
            props: {
                name: String,
                dev: Number,
                devOut: Number,
                qualityLabel: String
            },
            template: '<div class="feature__control"><span class="feature__control-value">{{ name }}</span><span class="feature__control-value text-center">{{ dev }}</span><span class="feature__control-value text-center">{{ devOut }}</span><span class="feature__control-quality"><img :src="\'icons/\' + qualityLabel + \'_color.svg\'" width="15" height="15" /></span></div>'
        });

        // App
        var app = new Vue({
            el: '#app',
            mounted() {
                this.fetchData(); // Agrupamos controls de 4 en 4
                console.log("set");
            },
            data: { // Mockup de los datos recibidos desde BACK
                "part": {
                    "name": "A",
                    "features": [
                        {
                            "name": "seam",
                            "quality": 2,
                            "controls": [
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 0
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 0
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 0
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 0
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 0
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                            ],
                        },
                        {
                            "name": "slot",
                            "quality": 1,
                            "controls": [
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 0
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                }
                            ]
                        },
                        {
                            "name": "hole",
                            "quality": 2,
                            "controls": [
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 0
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                            ]
                        },
                        {
                            "name": "feature A",
                            "quality": 1,
                            "controls": [
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 0
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 0
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 0
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                }
                            ]
                        },
                        {
                            "name": "feature B",
                            "quality": 0,
                            "controls": [
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 0
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                }
                            ]
                        },
                        {
                            "name": "feature C",
                            "quality": 0,
                            "controls": [
                                {
                                    "name": "x",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                },
                                {
                                    "name": "y",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "z",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 2
                                },
                                {
                                    "name": "diameter",
                                    "dev": 0,
                                    "devOut": 0,
                                    "quality": 1
                                }

                            ]
                        }
                    ]
                }
            },
            methods: {
                randomData() {
                    let part = this.part;
                    let features = this.part.features;

                    for (n = 0; n < features.length; n++) {

                        let quality = Math.floor((Math.random() * 3));
                        features[n].quality = quality;

                        let controls = features[n].controls;
                        for (i = 0; i < controls.length; i++) {
                            let dev = Math.floor((Math.random() * 2));
                            controls[i].dev = dev;
                            let devOut = Math.floor((Math.random() * 2));
                            controls[i].devOut = devOut;
                            let quality = Math.floor((Math.random() * 3));
                            console.log(quality)
                            controls[i].quality = quality;
                        }
                    }
                    this.fetchData();
                },
                fetchData() {
                    let part = this.part;
                    let features = this.part.features;
                    part.name = "";

                    for (n = 0; n < features.length; n++) {

                        let controls = features[n].controls;
                        let groups = [];

                        var i, j, temparray, chunk = 4;
                        for (i = 0, j = controls.length; i < j; i += chunk) {
                            temparray = controls.slice(i, i + chunk);
                            groups.push(temparray);
                        }
                        features[n].controlGroups = groups; // Creamos nodo de datos con controles agrupados de 4 en 4 para cada feature
                    }
                    console.log("FETCH");
                    let _this = this;
                    setTimeout( function() { _this.randomData() }, 2000);
                },
                gridSpan(feature) {
                    let c_length = feature.controls.length;
                    if (c_length > 12) { return 'feature--wide feature--tall' }
                    if (c_length > 4) { return 'feature--tall' }
                },
                hasTwoColumns(feature) {
                    let c_length = feature.controls.length;
                    return c_length > 12;
                },
                getQualityLabel(obj) {
                    let q = obj.quality; // 0, 1 o 2
                    let qualityLabel = "";
                    switch (q) {
                        case 0: {
                            qualityLabel = "bad";
                            break;
                        }
                        case 1: {
                            qualityLabel = "average";
                            break;
                        }
                        case 2: {
                            qualityLabel = "good";
                            break;
                        }
                    }
                    return qualityLabel
                }
            },
        });

    </script>
</body>
</html>